@model IEnumerable<University.Data.DepartmentLesson>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ders Adı
            </th>
            <th>
                Ders Kodu
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lesson.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lesson.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>

        </tr>
}
    </tbody>
</table>
